# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# ocl and amd files
*.clb

# CMake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/*
Makefile

Rapport/
apport/.Rapport_PA.tex.swp
rapport/.geek.tex.swp
rapport/Diagramme_FAST.png
rapport/Diagramme_Pieuvre.png
rapport/Diagramme_SADT_A-0.png
rapport/Diagramme_SADT_A0.png
rapport/Figure_Reflexion.png
rapport/Fonctions_diagramme_pieuvre.png
rapport/Modele_Comportemental_Avance.png
rapport/Modele_Comportemental_Simple.png
rapport/Modele_en_V.png
rapport/Rapport_PA.aux
rapport/Rapport_PA.lof
rapport/Rapport_PA.log
rapport/Rapport_PA.out
rapport/Rapport_PA.pdf
rapport/Rapport_PA.synctex.gz
rapport/Rapport_PA.tex
rapport/Rapport_PA.toc
rapport/Reflexion_droite.png
rapport/Reflexion_gauche.png
rapport/Reflexion_xM=xR.png
rapport/math.tex
rapport/meca.tex
rapport/pipeau.tex
rapport/rideaulaser.png
.gitignore~
.pa.wbproj
rapport/.Rapport_PA.tex.swp
worlds/*
rapport/.pipeau.tex.swp
rapport/Diagramme_Gandt.png
rapport/Mur_Artel.jpg
rapport/logoensta.jpg
rapport/logoensta.png
